<div  class="col-2" style="height:100vh; background-color:#4F0341">
    <p class="text-light fw-bold navbar-brand px-3">Hi [Username]</p>
    <div>
        <a class="nav-link text-decoration-none text-light" href="#">All post</a>
        <a class="nav-link text-decoration-none text-light" href="#">Add post</a>
        <a class="nav-link text-decoration-none text-light" href="#">Today Task</a>
        <a class="nav-link text-decoration-none text-light" href="#">Filters</a>
        <a class="nav-link text-decoration-none text-light" href="#">Activity Log</a>
        <a class="nav-link text-decoration-none text-light" href="#">Sign Out</a>
    </div>
</div>